doctype
html
  head
    title Weather Icons - 189 Icon Font inspired by Font Awesome and designed for Bootstrap
    // favicons 
    link(rel='apple-touch-icon', sizes='57x57', href='favicons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='favicons/apple-touch-icon-60x60.png')
    link(rel='icon', type='image/png', href='favicons/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='favicons/favicon-32x32.png', sizes='32x32')
    meta(name='msapplication-TileColor', content='#da532c')
    //favicons 

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='//use.typekit.net/hse2lqc.js')
    script.
      try{Typekit.load();}catch(e){}    script(src='js/bootstrap.min.js')
    
    link(rel='stylesheet', href='css/styles.css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-547519-12', 'erikflowers.github.io');
      ga('send', 'pageview');


  body
    header
      .container
        .row-fluid
          .col-sm-12
            h1 Weather Icons
            .icon
              i.wi.wi-day-cloudy

    section.content.container.intro
      .row
        .col-sm-12
          p.intro-icons
            i.wi.wi-day-lightning
            i.wi.wi-night-thunderstorm
            i.wi.wi-day-snow
            i.wi.wi-sprinkles 
            i.wi.wi-day-sunny
            i.wi.wi-cloudy
            i.wi.wi-night-rain-mix
            i.wi.wi-sunset
            i.wi.wi-sunrise
            i.wi.wi-day-cloudy-windy
            i.wi.wi-night-rain
            i.wi.wi-night-alt-snow
          p.headline Weather Icons is a font of 189 weather themed icons, ready to be dropped right into  
            a(href="http://getbootstrap.com") Bootstrap
            |  or any other project.  
            i.wi.wi-cloudy 
          p Inspired by  
            a(href="http://fontawesome.io/")  Font Awesome
            |, they work in essentially the same way. They are infinitley scalable and any CSS that can be applied to text can be applied to them. All you need to do to insert an icon is add the class to an "i" element:   
            code &lt;i class="wi wi-day-lightning"&gt;&lt;/i&gt;
            
          p Please make requests or report any issues to the  
              a(href="https://github.com/erikflowers/weather-icons/issues") main repository.


          //- p Want to use the font in your desktop applications? Check out the  
          //-   a(href="/cheatsheet/") cheatsheet here.  
          //-   | Just install the font on your system and copy and paste, it's that easy.
          p.follow
            a.twitter-follow-button(href='https://twitter.com/weathericons', data-show-count='false', data-size='large', data-dnt='true') Follow @weathericons
            script
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

    .download-share
      .container
        .row.download-here
          .download-button
            a.download.btn.btn-primary.btn-large(href="https://github.com/erikflowers/weather-icons")
              |Download version 1.3                
              i.wi.wi-cloud
          
        
        .row.social
          .col-sm-12
            p
              a.twitter-share-button(href='https://twitter.com/share', data-lang='en', data-text='Weather Icons - Bootstrap ready weather themed font icon!', data-via='Erik_UX', data-count='none') Tweet
              script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
             
              a.twitter-follow-button(href='https://twitter.com/Erik_UX', data-show-count='false', data-lang='en') Follow @Erik_UX
              script
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

             
              a.twitter-follow-button(href='https://twitter.com/artill', data-show-count='false', data-lang='en') Follow @artill
              script
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

              iframe(src='http://ghbtns.com/github-btn.html?user=erikflowers&repo=weather-icons&type=fork&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='75', height='20')
              iframe(src='http://ghbtns.com/github-btn.html?user=erikflowers&repo=weather-icons&type=watch&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='73', height='20')
              iframe(src='http://ghbtns.com/github-btn.html?user=erikflowers&type=follow&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='165', height='20')

  
    

    section.content.container.iconExamples
      .row
        .col-sm-12
          h2 New v1.3 Icons
      .row
        .col-sm-4
          .example
            .icon
              i.wi.wi-umbrella           
            .class wi-umbrella           
          .example
            .icon
              i.wi.wi-day-windy          
            .class wi-day-windy          
          .example
            .icon
              i.wi.wi-night-alt-cloudy
            .class wi-night-alt-cloudy
          .example
            .icon
              i.wi.wi-up-left         
            .class wi-up-left         
        .col-sm-4
          .example
            .icon
              i.wi.wi-down-right      
            .class wi-down-right      
          .example
            .icon
              i.wi.wi-day-sleet          
            .class wi-day-sleet          
          .example
            .icon
              i.wi.wi-night-sleet        
            .class wi-night-sleet        
          .example
            .icon
              i.wi.wi-night-alt-sleet    
            .class wi-night-alt-sleet    
        .col-sm-4
          .example
            .icon
              i.wi.wi-sleet              
            .class wi-sleet              
          .example
            .icon
              i.wi.wi-day-haze           
            .class wi-day-haze        
      .row
        .col-sm-12
          h3 Moon Phases 
      .row
        .col-sm-4
          .example
            .icon
              i.wi.wi-moon-new             
            .class wi-moon-new                  
          .example
            .icon
              i.wi.wi-moon-waxing-cresent-1
            .class wi-moon-waxing-cresent-1     
          .example
            .icon
              i.wi.wi-moon-waxing-cresent-2
            .class wi-moon-waxing-cresent-2     
          .example
            .icon
              i.wi.wi-moon-waxing-cresent-3
            .class wi-moon-waxing-cresent-3     
          .example
            .icon
              i.wi.wi-moon-waxing-cresent-4
            .class wi-moon-waxing-cresent-4     
          .example
            .icon
              i.wi.wi-moon-waxing-cresent-5
            .class wi-moon-waxing-cresent-5     
          .example
            .icon
              i.wi.wi-moon-waxing-cresent-6
            .class wi-moon-waxing-cresent-6     
          .example
            .icon
              i.wi.wi-moon-first-quarter   
            .class wi-moon-first-quarter        
          .example
            .icon
              i.wi.wi-moon-waxing-gibbous-1
            .class wi-moon-waxing-gibbous-1     
          .example
            .icon
              i.wi.wi-moon-waxing-gibbous-2
            .class wi-moon-waxing-gibbous-2     
        .col-sm-4
          .example
            .icon
              i.wi.wi-moon-waxing-gibbous-3
            .class wi-moon-waxing-gibbous-3     
          .example
            .icon
              i.wi.wi-moon-waxing-gibbous-4
            .class wi-moon-waxing-gibbous-4     
          .example
            .icon
              i.wi.wi-moon-waxing-gibbous-5
            .class wi-moon-waxing-gibbous-5     
          .example
            .icon
              i.wi.wi-moon-waxing-gibbous-6
            .class wi-moon-waxing-gibbous-6     
          .example
            .icon
              i.wi.wi-moon-full            
            .class wi-moon-full                 
          .example
            .icon
              i.wi.wi-moon-waning-gibbous-1
            .class wi-moon-waning-gibbous-1     
          .example
            .icon
              i.wi.wi-moon-waning-gibbous-2
            .class wi-moon-waning-gibbous-2     
          .example
            .icon
              i.wi.wi-moon-waning-gibbous-3
            .class wi-moon-waning-gibbous-3     
          .example
            .icon
              i.wi.wi-moon-waning-gibbous-4
            .class wi-moon-waning-gibbous-4     
        .col-sm-4
          .example
            .icon
              i.wi.wi-moon-waning-gibbous-5
            .class wi-moon-waning-gibbous-5     
          .example
            .icon
              i.wi.wi-moon-waning-gibbous-6
            .class wi-moon-waning-gibbous-6     
          .example
            .icon
              i.wi.wi-moon-3rd-quarter     
            .class wi-moon-3rd-quarter          
          .example
            .icon
              i.wi.wi-moon-waning-crescent-1
            .class wi-moon-waning-crescent-1     
          .example
            .icon
              i.wi.wi-moon-waning-crescent-2
            .class wi-moon-waning-crescent-2     
          .example
            .icon
              i.wi.wi-moon-waning-crescent-3
            .class wi-moon-waning-crescent-3     
          .example
            .icon
              i.wi.wi-moon-waning-crescent-4
            .class wi-moon-waning-crescent-4     
          .example
            .icon
              i.wi.wi-moon-waning-crescent-5
            .class wi-moon-waning-crescent-5     
          .example
            .icon
              i.wi.wi-moon-waning-crescent-6
            .class wi-moon-waning-crescent-6     

      .row
        .col-sm-12
          h3 Clocks
      .row
        .col-sm-4
          .example
            .icon
              i.wi.wi-time-12         
            .class wi-time-12         
          .example
            .icon
              i.wi.wi-time-1          
            .class wi-time-1          
          .example
            .icon
              i.wi.wi-time-2          
            .class wi-time-2          
          .example
            .icon
              i.wi.wi-time-3          
            .class wi-time-3          
        .col-sm-4
          .example
            .icon
              i.wi.wi-time-4          
            .class wi-time-4          
          .example
            .icon
              i.wi.wi-time-5          
            .class wi-time-5          
          .example
            .icon
              i.wi.wi-time-6          
            .class wi-time-6          
          .example
            .icon
              i.wi.wi-time-7          
            .class wi-time-7          
        .col-sm-4
          .example
            .icon
              i.wi.wi-time-8          
            .class wi-time-8          
          .example
            .icon
              i.wi.wi-time-9          
            .class wi-time-9          
          .example
            .icon
              i.wi.wi-time-10         
            .class wi-time-10         
          .example
            .icon
              i.wi.wi-time-11         
            .class wi-time-11         
      .row
        .col-sm-12
          h3 Beafort Wind Scale
      .row
        .col-sm-4
          .example
            .icon
              i.wi.wi-beafort-0          
            .class wi-beafort-0          
          .example
            .icon
              i.wi.wi-beafort-1          
            .class wi-beafort-1          
          .example
            .icon
              i.wi.wi-beafort-2          
            .class wi-beafort-2          
          .example
            .icon
              i.wi.wi-beafort-3          
            .class wi-beafort-3          
          .example
            .icon
              i.wi.wi-beafort-4          
            .class wi-beafort-4          
        .col-sm-4
          .example
            .icon
              i.wi.wi-beafort-5          
            .class wi-beafort-5          
          .example
            .icon
              i.wi.wi-beafort-6          
            .class wi-beafort-6          
          .example
            .icon
              i.wi.wi-beafort-7          
            .class wi-beafort-7          
          .example
            .icon
              i.wi.wi-beafort-8          
            .class wi-beafort-8          
          .example
            .icon
              i.wi.wi-beafort-9          
            .class wi-beafort-9          
        .col-sm-4
          .example
            .icon
              i.wi.wi-beafort-10         
            .class wi-beafort-10         
          .example
            .icon
              i.wi.wi-beafort-11         
            .class wi-beafort-11         
          .example
            .icon
              i.wi.wi-beafort-12         
            .class wi-beafort-12         
      .row
        .col-sm-12
          h3 Wind Directions - 0 degrees through 345 degrees
          p Wind direction icons use CSS3 tranform to rotate. Choose your interpretation; point to the wind source, or point in the wind direction. Example: pointing to an east wind would be wi-wind-default _90-deg, but pointing in the direction of an east wind would be wi-wind-default _270deg. This should give everyone the felxibility they need without having alias names or 24 separate glyphs.
      .row
        .col-sm-4
          .example
            .icon
              i.wi.wi-wind-default._0-deg
            .class wi-wind-default _0-deg
          .example
            .icon
              i.wi.wi-wind-default._15-deg
            .class wi-wind-default _15-deg
          .example
            .icon
              i.wi.wi-wind-default._30-deg
            .class wi-wind-default _30-deg
          .example
            .icon
              i.wi.wi-wind-default._45-deg
            .class wi-wind-default _45-deg
          .example
            .icon
              i.wi.wi-wind-default._60-deg
            .class wi-wind-default _60-deg
          .example
            .icon
              i.wi.wi-wind-default._75-deg
            .class wi-wind-default _75-deg
          .example
            .icon
              i.wi.wi-wind-default._90-deg
            .class wi-wind-default _90-deg
          .example
            .icon
              i.wi.wi-wind-default._105-deg
            .class wi-wind-default _105-deg
        .col-sm-4
          .example
            .icon
              i.wi.wi-wind-default._120-deg
            .class wi-wind-default _120-deg
          .example
            .icon
              i.wi.wi-wind-default._135-deg
            .class wi-wind-default _135-deg
          .example
            .icon
              i.wi.wi-wind-default._150-deg
            .class wi-wind-default _150-deg
          .example
            .icon
              i.wi.wi-wind-default._165-deg
            .class wi-wind-default _165-deg
          .example
            .icon
              i.wi.wi-wind-default._180-deg
            .class wi-wind-default _180-deg
          .example
            .icon
              i.wi.wi-wind-default._195-deg
            .class wi-wind-default _195-deg
          .example
            .icon
              i.wi.wi-wind-default._210-deg
            .class wi-wind-default _210-deg
          .example
            .icon
              i.wi.wi-wind-default._225-deg
            .class wi-wind-default _225-deg
        .col-sm-4
          .example
            .icon
              i.wi.wi-wind-default._240-deg
            .class wi-wind-default._240-deg
          .example
            .icon
              i.wi.wi-wind-default._255-deg
            .class wi-wind-default _255-deg
          .example
            .icon
              i.wi.wi-wind-default._270-deg
            .class wi-wind-default _270-deg
          .example
            .icon
              i.wi.wi-wind-default._285-deg
            .class wi-wind-default _285-deg
          .example
            .icon
              i.wi.wi-wind-default._300-deg
            .class wi-wind-default _300-deg
          .example
            .icon
              i.wi.wi-wind-default._315-deg
            .class wi-wind-default _315-deg
          .example
            .icon
              i.wi.wi-wind-default._330-deg
            .class wi-wind-default _330-deg
          .example
            .icon
              i.wi.wi-wind-default._345-deg
            .class wi-wind-default _345-deg

      .row
        .col-sm-12
          h2 New v1.2 
      .row
        .col-sm-4
          .example
            .icon
              i.wi.wi-smoke
            .class wi-smoke
          .example
            .icon
              i.wi.wi-dust
            .class wi-dust
          .example
            .icon
              i.wi.wi-snow-wind
            .class wi-snow-wind
          .example
            .icon
              i.wi.wi-day-snow-wind
            .class wi-day-snow-wind
          .example
            .icon
              i.wi.wi-night-snow-wind
            .class wi-night-snow-wind
          .example
            .icon
              i.wi.wi-night-alt-snow-wind
            .class wi-night-alt-snow-wind
          .example
            .icon
              i.wi.wi-day-sleet-storm
            .class wi-day-sleet-storm
          .example
            .icon
              i.wi.wi-night-sleet-storm
            .class wi-night-sleet-storm
        .col-sm-4
          .example
            .icon
              i.wi.wi-night-alt-sleet-storm
            .class wi-night-alt-sleet-storm
          .example
            .icon
              i.wi.wi-day-snow-thunderstorm
            .class wi-day-snow-thunderstorm
          .example
            .icon
              i.wi.wi-night-snow-thunderstorm
            .class wi-night-snow-thunderstorm
          .example
            .icon
              i.wi.wi-night-alt-snow-thunderstorm
            .class wi-night-alt-snow-thunderstorm
          .example
            .icon
              i.wi.wi-solar-eclipse
            .class wi-solar-eclipse
          .example
            .icon
              i.wi.wi-lunar-eclipse
            .class wi-lunar-eclipse
          .example
            .icon
              i.wi.wi-meteor
            .class wi-meteor
          .example
            .icon
              i.wi.wi-hot
            .class wi-hot
        .col-sm-4
          .example
            .icon
              i.wi.wi-hurricane
            .class wi-hurricane          
          .example
            .icon
              i.wi.wi-smog
            .class wi-smog
          .example
            .icon
              i.wi.wi-alien
            .class wi-alien
          .example
            .icon
              i.wi.wi-snowflake-cold
            .class wi-snowflake-cold
          .example
            .icon
              i.wi.wi-stars
            .class wi-stars
          .example
            .icon
              i.wi.wi-night-partly-cloudy
            .class night-partly-cloudy




      .row
        .col-sm-12
          h2 Day / Sunny
      .row
        .col-sm-4
          .example
            .icon
               i.wi.wi-day-cloudy-gusts
            .class wi-day-cloudy-gusts
          .example
            .icon
               i.wi.wi-day-cloudy-windy
            .class wi-day-cloudy-windy
          .example
            .icon
               i.wi.wi-day-cloudy
            .class wi-day-cloudy
          .example
            .icon
               i.wi.wi-day-fog
            .class wi-day-fog
          .example
            .icon
               i.wi.wi-day-hail
            .class wi-day-hail
          .example
            .icon
               i.wi.wi-day-lightning
            .class wi-day-lightning
        .col-sm-4
          .example
            .icon
               i.wi.wi-day-rain-mix
            .class wi-day-rain-mix
          .example
            .icon
               i.wi.wi-day-rain-wind
            .class wi-day-rain-wind
          .example
            .icon
               i.wi.wi-day-rain
            .class wi-day-rain
          .example
            .icon
               i.wi.wi-day-showers
            .class wi-day-showers
          .example
            .icon
               i.wi.wi-day-snow
            .class wi-day-snow
          .example
            .icon
               i.wi.wi-day-sprinkle
            .class wi-day-sprinkle
        .col-sm-4
          .example
            .icon
               i.wi.wi-day-sunny-overcast
            .class wi-day-sunny-overcast
          .example
            .icon
               i.wi.wi-day-sunny
            .class wi-day-sunny
          .example
            .icon
               i.wi.wi-day-storm-showers
            .class wi-day-storm-showers
          .example
            .icon
               i.wi.wi-day-thunderstorm
            .class wi-day-thunderstorm
      .row
        .col-sm-12
          h2 Neutral / Cloudy
      .row
        .col-sm-4
          .example
            .icon
               i.wi.wi-cloudy-gusts
            .class wi-cloudy-gusts
          .example
            .icon
               i.wi.wi-cloudy-windy
            .class wi-cloudy-windy
          .example
            .icon
               i.wi.wi-cloudy
            .class wi-cloudy
          .example
            .icon
               i.wi.wi-fog
            .class wi-fog
          .example
            .icon
               i.wi.wi-hail
            .class wi-hail
        .col-sm-4
          .example
            .icon
               i.wi.wi-lightning
            .class wi-lightning
          .example
            .icon
               i.wi.wi-rain-mix
            .class wi-rain-mix
          .example
            .icon
               i.wi.wi-rain-wind
            .class wi-rain-wind
          .example
            .icon
               i.wi.wi-rain
            .class wi-rain
          .example
            .icon
               i.wi.wi-showers
            .class wi-showers
        .col-sm-4
          .example
            .icon
               i.wi.wi-snow
            .class wi-snow
          .example
            .icon
               i.wi.wi-sprinkle
            .class wi-sprinkle
          .example
            .icon
               i.wi.wi-storm-showers
            .class wi-storm-showers
          .example
            .icon
               i.wi.wi-thunderstorm
            .class wi-thunderstorm

      .row
        .col-sm-12
          h2 Night / Moons
      .row
        .col-sm-4
          .example
            .icon
               i.wi.wi-night-alt-cloudy-gusts
            .class wi-night-alt-cloudy-gusts
          .example
            .icon
               i.wi.wi-night-alt-cloudy-windy
            .class wi-night-alt-cloudy-windy
          .example
            .icon
               i.wi.wi-night-alt-hail
            .class wi-night-alt-hail
          .example
            .icon
               i.wi.wi-night-alt-lightning
            .class wi-night-alt-lightning
          .example
            .icon
               i.wi.wi-night-alt-rain-mix
            .class wi-night-alt-rain-mix
          .example
            .icon
               i.wi.wi-night-alt-rain-wind
            .class wi-night-alt-rain-wind
          .example
            .icon
               i.wi.wi-night-alt-rain
            .class wi-night-alt-rain
          .example
            .icon
               i.wi.wi-night-alt-showers
            .class wi-night-alt-showers
          .example
            .icon
               i.wi.wi-night-alt-snow
            .class wi-night-alt-snow
        .col-sm-4
          .example
            .icon
               i.wi.wi-night-alt-sprinkle
            .class wi-night-alt-sprinkle
          .example
            .icon
               i.wi.wi-night-alt-storm-showers
            .class wi-night-alt-storm-showers
          .example
            .icon
               i.wi.wi-night-alt-thunderstorm
            .class wi-night-alt-thunderstorm
          .example
            .icon
               i.wi.wi-night-clear
            .class wi-night-clear
          .example
            .icon
               i.wi.wi-night-cloudy-gusts
            .class wi-night-cloudy-gusts
          .example
            .icon
               i.wi.wi-night-cloudy-windy
            .class wi-night-cloudy-windy
          .example
            .icon
               i.wi.wi-night-cloudy
            .class wi-night-cloudy
          .example
            .icon
               i.wi.wi-night-hail
            .class wi-night-hail
          .example
            .icon
               i.wi.wi-night-lightning
            .class wi-night-lightning
        .col-sm-4
          .example
            .icon
               i.wi.wi-night-rain-mix
            .class wi-night-rain-mix
          .example
            .icon
               i.wi.wi-night-rain-wind
            .class wi-night-rain-wind
          .example
            .icon
               i.wi.wi-night-rain
            .class wi-night-rain
          .example
            .icon
               i.wi.wi-night-showers
            .class wi-night-showers
          .example
            .icon
               i.wi.wi-night-snow
            .class wi-night-snow
          .example
            .icon
               i.wi.wi-night-sprinkle
            .class wi-night-sprinkle
          .example
            .icon
               i.wi.wi-night-storm-showers
            .class wi-night-storm-showers
          .example
            .icon
               i.wi.wi-night-thunderstorm
            .class wi-night-thunderstorm

      .row
        .col-sm-12
          h2 Miscellaneous Weather 
      .row
        .col-sm-4
          .example
            .icon
               i.wi.wi-celsius
            .class wi-celsius
          .example
            .icon
               i.wi.wi-cloud-down
            .class wi-cloud-down
          .example
            .icon
               i.wi.wi-cloud-refresh
            .class wi-cloud-refresh
          .example
            .icon
               i.wi.wi-cloud-up
            .class wi-cloud-up
          .example
            .icon
               i.wi.wi-cloud
            .class wi-cloud
          .example
            .icon
               i.wi.wi-degrees
            .class wi-degrees
          .example
            .icon
               i.wi.wi-down-left
            .class wi-down-left
          .example
            .icon
               i.wi.wi-down
            .class wi-down
          .example
            .icon
               i.wi.wi-fahrenheit
            .class wi-fahrenheit
          .example
            .icon
               i.wi.wi-horizon-alt
            .class wi-horizon-alt
        .col-sm-4
          .example
            .icon
               i.wi.wi-horizon
            .class wi-horizon
          .example
            .icon
               i.wi.wi-left
            .class wi-left
          .example
            .icon
               i.wi.wi-lightning
            .class wi-lightning
          .example
            .icon
               i.wi.wi-night-fog
            .class wi-night-fog
          .example
            .icon
               i.wi.wi-refresh-alt
            .class wi-refresh-alt
          .example
            .icon
               i.wi.wi-refresh
            .class wi-refresh
          .example
            .icon
               i.wi.wi-right
            .class wi-right
          .example
            .icon
               i.wi.wi-sprinkles
            .class wi-sprinkles
          .example
            .icon
               i.wi.wi-strong-wind
            .class wi-strong-wind
          .example
            .icon
               i.wi.wi-sunrise
            .class wi-sunrise
        .col-sm-4
          .example
            .icon
               i.wi.wi-sunset
            .class wi-sunset
          .example
            .icon
               i.wi.wi-thermometer-exterior
            .class wi-thermometer-exterior
          .example
            .icon
               i.wi.wi-thermometer-internal
            .class wi-thermometer-internal
          .example
            .icon
               i.wi.wi-thermometer
            .class wi-thermometer
          .example
            .icon
               i.wi.wi-tornado
            .class wi-tornado
          .example
            .icon
               i.wi.wi-up-right
            .class wi-up-right
          .example
            .icon
               i.wi.wi-up
            .class wi-up
          .example
            .icon
               i.wi.wi-windy
            .class wi-windy












    .container
      .row
        .col-sm-12
          .beta
            .title Version 1.3
            p The third release of Weather Icons with all new fonts including: new weather condition icons, missing down-right and up-left arrows, full moon phase set, full clock set, full Beafort wind strength set!

          .beta
            .title Version 1.2
            p The second release of Weather Icons with streamlined, updated Less, customizable variables, adjusted font boundaries, and all new fonts including: 
            

    footer
      .container
        .row
          .col-sm-12 
            p The Weather Icons project created and maintained by  
              a(href="http://www.twitter.com/Erik_UX") Erik Flowers
              |. v1.0 artwork by  
              a(href="http://www.twitter.com/artill") Lukas Bischoff
              |. v1.1, 1.2, 1.3 artwork by 
              a(href="http://www.twitter.com/Erik_UX") Erik Flowers
            p LESS/HTML implementation inspired and heavily influenced by  
              a(href="http://fortawesome.github.io/Font-Awesome/") Font Awesome.
            p Weather Icons licensed under 
              a("http://scripts.sil.org/OFL") SIL OFL 1.1
              |  &mdash; Code licensed under  
              a("http://opensource.org/licenses/mit-license.html") MIT License
              |   &mdash; Documentation licensed under  
              a("http://creativecommons.org/licenses/by/3.0/") CC BY 3.0

